Layout requirements:
* The layout should be hierarchical, incrementally. yFiles provides the following classes which support 
hierarchical layout with groups: HierarchicGroupLayouter, OrganicLayouter, SmartOrganicLayouter, 
OrthogonalGroupLayouter, and IncrementalHierarchicLayouter.

* Check the following example for using IncrementalHierarchicLayouter
file:///Users/pinzger/tools/yFiles2.5/yfiles-2.5-complete/src/demo/view/layout/hierarchic/IncrementalHierarchicGroupDemo.java
Nodes and edges to layout are selected, e.g., for when a folder is expanded: 
	graph.unselectAll();
	graph.setSelected(folderNode, true);
    for(NodeCursor nc = children.nodes(); nc.ok(); nc.next()) {
      graph.setSelected(nc.node(), true);
    }
    layoutIncrementally();

when the folder is closed:
	graph.unselectAll();
    graph.setSelected(groupNode, true);
    for (EdgeCursor ec = groupNode.edges(); ec.ok(); ec.next()) {
      graph.setSelected(ec.edge(), true);
    }
    layoutIncrementally();
