<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.evolizer.core.hibernate.modelProvider">
      <model
            class="org.evolizer.model.resources.EvolizerResourceModelProvider"
            name="evolizerResourceModelProvider">
      </model>
   </extension>

</plugin>
