<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<!-- Adds Evolizer menu -->
   
   <!-- Adds icon to Evolizer-enabled projects -->
   <extension 
		point="org.eclipse.ui.propertyPages">
		<page
			class="org.evolizer.core.ui.properties.EvolizerPropertyPage"
			icon="icons/evolizer_icon.png"
			id="org.evolizer.core.ui.properties.evolizerPropertyPage"
			name="Evolizer Page">
     <enabledWhen>
        <adapt
              type="org.eclipse.core.resources.IProject">
        </adapt>
     </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/evolizer_nature.png"
            id="org.evolizer.core.ui.evolizer_image"
            natureId="org.evolizer.core.natures.evolizerNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.evolizer.core.ui.evolizerCategory"
            name="Evolizer">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/evolizer_icon.png"
               id="org.evolizer.core.ui.menu"
               label="Evolizer">
            <command
                  commandId="org.evolizer.core.ui.enable"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.evolizer.core.natures.evolizerNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.evolizer.core.ui.disable"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.evolizer.core.natures.evolizerNature">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.evolizer.core.ui.updateSchema"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.evolizer.core.natures.evolizerNature">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <separator
                  name="features"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.evolizer.core.ui.coreCommands"
            name="Evolizer Core Commands">
      </category>
      <command
            categoryId="org.evolizer.core.ui.coreCommands"
            id="org.evolizer.core.ui.enable"
            name="Enable Evolizer">
      </command>
      <command
            categoryId="org.evolizer.core.ui.coreCommands"
            id="org.evolizer.core.ui.disable"
            name="Disable Evolizer">
      </command>
      <command
            categoryId="org.evolizer.core.ui.coreCommands"
            id="org.evolizer.core.ui.updateSchema"
            name="Update Evolizer Schema">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.evolizer.core.ui.popup.actions.EnableEvolizerHandler"
            commandId="org.evolizer.core.ui.enable">
      </handler>
      <handler
            class="org.evolizer.core.ui.popup.actions.DisableEvolizerHandler"
            commandId="org.evolizer.core.ui.disable">
      </handler>
      <handler
            class="org.evolizer.core.ui.popup.actions.UpdateSchemaHandler"
            commandId="org.evolizer.core.ui.updateSchema">
      </handler>
   </extension>
</plugin>
